<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Packages</title>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

  <nav class="mainnav">
    <ul class="mainnav-list">
      <li class="mainnav-list-item"><a href="#">GitHub</a></li>
      <li class="mainnav-list-item"><a href="#">Twitter</a></li>
    </ul>
  </nav>
  
  <section class="intro">
    <div class="intro-wrap">
      <h1>Package registry</h1>
      <form action="/search/" method="post">
        <input type="search" autofocus="autofocus" name="query" class="intro-search" value="<%= query %>">
      </form>
    </div>
  </section>