/*
*
* main-dark: #414A52
* main-bright: #F4F6F9;
* main-gradient: #BFE39A to #A2ABE3
*
*/

*,
ul { 
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

html,
body{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

h1{
  width: 120px;
  height: 100px;
  margin: 0 auto;
  line-height: 0.9;
  padding-left: 120px;
  text-transform: uppercase;
  font-size: 1.8em;
  color: #414A52;
}

h1:before{
  position: absolute;
  content: " ";
  width: 120px;
  height: 75px;
  margin: -15px 0 0 -120px;
  background-image: url("../img/packages-logo-large.png");
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}

.mainnav{
  width: 100%;
  height: 35px;
  background-color: #414A52;
}

.mainnav-list{
  max-width: 400px;
  margin: 0 auto;
}

.mainnav-list-item{
  float: right;
  display: inline-block;
  margin: 0 15px;
  padding-top: 6px;
}

.mainnav-list-item a{
  color: #D3D3D3;
  text-decoration: none;
}

.intro{
  position: relative;
  width: 100%;
  height: 350px;
  background-image: -webkit-linear-gradient(183deg, #BFE39A 0%, #A2ABE3 100%);
  background-image: -o-linear-gradient(183deg, #BFE39A 0%, #A2ABE3 100%);
  background-image: linear-gradient(273deg, #BFE39A 0%, #A2ABE3 100%);
}

.intro:before{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: " ";
  background-image: url("../img/texture-bg.png");
  pointer-events: none;
}

.intro-wrap{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}

.intro-search{
  padding: 5px;
  height: 25px;
  width: 440px;
}

.result{
  background-color: #F4F6F9;
  min-height: 600px;
  padding: 20px 0;
}

.result-wrap{
  max-width: 700px;
  margin: 0 auto;
}

.result-list{
  list-style: none;
}

.result-list-single{
  width: 100%;
  min-height: 150px;
  margin: 100px 0;
  border-radius: 2px;
  text-decoration: none;
  display: block;
  position: relative;
}

.result-list-single h2{
  display: inline-block;
  float: left;
  width: 30%;
  text-align: right;
  font-weight: 400;
  font-size: 22px;
  text-overflow: ellipsis;
}

.result-list-single h2 a {
  text-decoration: none;
  color: #414A52;
  font-weight: 400;
  font-size: 22px;
  border-bottom:  1px dotted #ccc;
  text-overflow: ellipsis;
}

.result-list-single .array{
  color: #414A52;
  text-decoration: none;
  display: inline-block;
  float: right;
  width: 70%;
  padding-top: 7px;
}

.result-list-single .array:before{
  content: "{";
  position: absolute;
  margin: -15px 0 0 20px;
  color: #D3D3D3;
  font-size: 35px;
  font-weight: 200;
}

.result-list-single .array:after{
  content: "}";
  position: absolute;
  margin: -25px 0 0 20px;
  color: #D3D3D3;
  font-size: 35px;
  font-weight: 200;
}



.result-list-single .array div{
  padding-left: 40px;
  font-family: monospace;
  margin: 5px 0;
  font-size: 15px;
}

.result-list-single .array div span{
  color: #7499bb;
}

.result-list-single .array div:first-of-type{
  margin-top: 25px;
}

.result-list-single .array div:last-of-type{
  margin-bottom: 25px;
}

.result-list-single .array div.name{

}




.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}